﻿@model EscuelaNet.Presentacion.Programadores.Web.Models.SkillsIndexModel

@{


}

<div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Conocimiento</h3>
                <label class="text-success">@TempData["success"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                  <tbody>
                      <tr>
                          <th style="width: 10px">#</th>
                          <th>Descripcion</th>
                          <th>Grado</th>
                          <th>Acciones</th>
                      </tr>
                      @foreach (var skills in Model.Skills)
                      {
                  <tr>
                      <td>@skills.ID</td>
                      <td>@skills.Descripcion</td>
                      <td>@skills.Grados</td>
                      <td>
                          <a href="/Skills/edit/@skills.ID" title="Editar" class="btn btn-toolbar">
                              <label class="label bg-gray"><i class="fa fa-edit"></i> Editar</label>
                          </a>
                          <a href="/Skills/delete/@skills.ID" title="borrar" class="btn btn-toolbar">
                              <label class="label bg-gray"><i class="fa fa-remove"></i> Borrar</label>
                          </a>
                      </td>
                  </tr>

                      }
                  <tr>
                      <td colspan="5">
                          <a href="/Skills/create" role="button" title="Nuevo" class="btn btn-primary">
                              <i class="fa fa-plus"> Nuevo</i>
                          </a>
                      </td>
                  </tr>
                  </tbody></table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination justify-content-center">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
          <!-- /.box -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
      </div></p>

@section Scripts{
    <script>
    </script>
}
